<div class="max-w-lg mx-auto bg-black shadow-md rounded-lg p-4">
  <h2 class="text-2xl font-semibold mb-4 text-white">Add New Shoe</h2>

  <form [formGroup]="newShoeForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <!-- Name Field -->
    <div class="flex flex-col">
      <label for="name" class="text-gray-700 font-medium mb-1">Name:</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-black"
      />
      <div *ngIf="newShoeForm.get('name')?.invalid && newShoeForm.get('name')?.touched" class="text-red-500 text-sm mt-1">
        Name is required.
      </div>
    </div>

    <!-- Price Field -->
    <div class="flex flex-col">
      <label for="price" class="text-gray-700 font-medium mb-1">Price:</label>
      <input
        type="text"
        id="price"
        formControlName="price"
        class="text-black border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div *ngIf="newShoeForm.get('price')?.invalid && newShoeForm.get('price')?.touched" class="text-red-500 text-sm mt-1">
        Price is required.
      </div>
    </div>

    <!-- Image URL Field -->
    <div class="flex flex-col">
      <label for="photoUrl" class="text-gray-700 font-medium mb-1">Image URL:</label>
      <input
        type="text"
        id="photoUrl"
        formControlName="photoUrl"
        class="text-black border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <div *ngIf="newShoeForm.get('photoUrl')?.invalid && newShoeForm.get('photoUrl')?.touched" class="text-red-500 text-sm mt-1">
        Image URL is required.
      </div>
    </div>

    <!-- Details Field -->
    <div class="flex flex-col">
      <label for="details" class="text-gray-700 font-medium mb-1">Details:</label>
      <textarea
        id="details"
        formControlName="details"
        class="text-black border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        rows="4"
      ></textarea>
      <div *ngIf="newShoeForm.get('details')?.invalid && newShoeForm.get('details')?.touched" class="text-red-500 text-sm mt-1">
        Details are required.
      </div>
    </div>

    <button type="submit" [disabled]="newShoeForm.invalid" class="bg-blue-500 text-white px-6 py-3 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
      Add Shoe
    </button>

    <p class="text-green-500 mt-4 text-center">{{submissionResult}}</p>
  </form>
</div>
